---
---

<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/grid12.css">
<link href='/style.css' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<title>But You Don&#8217;t Understand</title>

<script src="http://code.jquery.com/jquery-1.11.2.js"></script>
<script src="/audiojs/audio.min.js"></script>

	{% include script-playlist.html %}

</head>
<body>   

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			{% capture notes %}{% include notes.md %}{% endcapture %}
			{{ notes | markdownify }}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="container-fluid" style="margin-top: 20px;" >
			<audio preload></audio>
			<ol>
				{% for track in site.data.tracks %}
					<li><a href="#" data-src="{{ track.url }}">{{ track.title | markdownify }}</a></li>
				{% endfor %}
			</ol>
		    <div id="shortcuts">
				<h1>Keyboard shortcuts:</h1>
		        <p><em>&rarr;</em> Next track</p>
		        <p><em>&larr;</em> Previous track</p>
				<p><em>P</em> Play/pause</p>
			</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
<p style="text-align: center; "><img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" width=88 height=31 /><br />This album is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA 4.0</a>. Please attribute to me (Elliot Harmon), include the title of the album (<em>But You Don't Understand</em>), and link to <a href="http://butyoudontunderstand.elliotharmon.org/">http://butyoudontunderstand.elliotharmon.org/</a>.</p>
</div>
</body>
</html>
